<h2>Clients</h2>

<% @clients.each do |client| %>
  <% if client.payload_requests.count > 0 %>
    <h1><%= link_to "sources/#{client.identifier}", client.identifier.capitalize%><br /></h1>
  <% end %>
<% end %>
