<table>
  <thead>
    <th><%= category_name %></th>
    <th>Count</th>
  </thead>
  <tbody>
    <% @data.each do |category, count| %>
      <tr>
        <td><%= category %>: </td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
