<table class="table col col-md-6 jumbotron">
  <div class="row">
    <thead>
      <th class="col col-md-6"><%= category_name %></th>
      <th class="col col-md-6">Count</th>
    </thead>
  </div>
  <tbody>
    <div class="row">
      <% @data.each do |category, count| %>
        <tr>
          <td><%= category %> </td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </div>
  </tbody>
</table>
